<h1>Annotating Clause {{ cached.clause.id }}</h1>

<!-- Modal -->
<div class="modal fade" id="kbd-modal" tabindex="-1" role="dialog" aria-labelledby="kbd-modal-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="kbd-modal-label">Keyboard shortcuts</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <kbd>ESC</kbd> - Reset annotations<br>
            <kbd><kbd><i class="fa fa-arrow-left" aria-hidden="true"></i></kbd></kbd> - Previous clause<br>
            <kbd><kbd><i class="fa fa-arrow-right" aria-hidden="true"></i></kbd></kbd> - Next clause<br>
            <kbd><kbd>I</kbd></kbd> - Mark as invalid<br>
            <kbd><kbd>V</kbd></kbd> - Mark as valid<br>
            <kbd><kbd>S</kbd></kbd> - Mark as stative<br>
            <kbd><kbd>D</kbd></kbd> - Mark as dynamic<br>
          </div>
          <div class="col-md-6">
            <kbd><kbd>?</kbd></kbd> - Show annotation flowchart<br>
            <kbd><kbd>U</kbd></kbd> - Mark as unbounded<br>
            <kbd><kbd>B</kbd></kbd> - Mark as bounded<br>
            <kbd><kbd>E</kbd></kbd> - Mark as extended<br>
            <kbd><kbd>P</kbd></kbd> - Mark as punctual<br>
            <kbd><kbd>C</kbd></kbd> - Mark as change of state<br>
            <kbd><kbd>N</kbd></kbd> - Mark as no change<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <div class="clause">
      <h3>
        <span ng-repeat="span in spans">
          <span ng-if="span.idx"> </span>
          <span title="{{span.title}}" class="{{span.wclass}} {{span.cclass}} {{span.mclass}}">{{span.words}}</span>
        </span>
      </h3>
    </div>
  </div>
</div>
<div class="row vertical-center">
  <div class="col-md-6 col-md-push-3 col-xs-12 text-center annotation-div">
    <h4>Annotations
      <span ng-show="shouldSave()">
        <a ng-click="reset()"><i class="fa fa-undo" aria-hidden="true"></i></a>
    </span></h4>
    <form>
      <div>
        <div class="btn-group btn-group-lg" aria-label="invalid vs. valid">
          <label class="btn btn-info"
                 ng-model="annotation.invalid"
                 ng-change="invalidChanged()"
                 uib-btn-radio="'true'">Invalid</label>
          <label class="btn btn-info"
                 ng-model="annotation.invalid"
                 ng-change="invalidChanged()"
                 uib-btn-radio="'uncertain'">?</label>
          <label class="btn btn-info"
                 ng-model="annotation.invalid"
                 ng-change="invalidChanged()"
                 uib-btn-radio="'false'">Valid</label>
        </div>
      </div>
      <div>
        <div class="btn-group btn-group-lg" aria-label="stative vs. dynamic">
          <label class="btn btn-info"
                 ng-model="annotation.stative"
                 ng-change="stativeChanged()"
                 ng-disabled="annotation.invalid == 'true'"
                 uib-btn-radio="'true'">Stative</label>
          <label class="btn btn-info"
                 ng-model="annotation.stative"
                 ng-change="stativeChanged()"
                 ng-disabled="annotation.invalid == 'true'"
                 uib-btn-radio="'uncertain'">?</label>
          <label class="btn btn-info"
                 ng-model="annotation.stative"
                 ng-change="stativeChanged()"
                 ng-disabled="annotation.invalid == 'true'"
                 uib-btn-radio="'false'">Dynamic</label>
        </div>
      </div>
      <div>
        <div class="btn-group btn-group-lg" aria-label="bounded vs. unbounded">
          <label class="btn btn-info"
                 ng-model="annotation.bounded"
                 ng-change="boundedChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true'"
                 uib-btn-radio="'false'">Unbounded</label>
          <label class="btn btn-info"
                 ng-model="annotation.bounded"
                 ng-change="boundedChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true'"
                 uib-btn-radio="'uncertain'">?</label>
          <label class="btn btn-info"
                 ng-model="annotation.bounded"
                 ng-change="boundedChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true'"
                 uib-btn-radio="'true'">Bounded</label>
        </div>
      </div>
      <div>
        <div class="btn-group btn-group-lg" aria-label="extended vs. punctual">
          <label class="btn btn-info"
                 ng-model="annotation.extended"
                 ng-change="extendedChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true' || annotation.bounded == 'false'"
                 uib-btn-radio="'false'">Punctual</label>
          <label class="btn btn-info"
                 ng-model="annotation.extended"
                 ng-change="extendedChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true' || annotation.bounded == 'false'"
                 uib-btn-radio="'uncertain'">?</label>
          <label class="btn btn-info"
                 ng-model="annotation.extended"
                 ng-change="extendedChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true' || annotation.bounded == 'false'"
                 uib-btn-radio="'true'">Extended</label>
        </div>
      </div>
      <div>
        <div class="btn-group btn-group-lg" aria-label="change-of-state vs. no change-of-state">
          <label class="btn btn-info"
                 ng-model="annotation.change"
                 ng-change="changeChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true' || annotation.bounded == 'false'"
                 uib-btn-radio="'true'">Change of State</label>
          <label class="btn btn-info"
                 ng-model="annotation.change"
                 ng-change="changeChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true' || annotation.bounded == 'false'"
                 uib-btn-radio="'uncertain'">?</label>
          <label class="btn btn-info"
                 ng-model="annotation.change"
                 ng-change="changeChanged()"
                 ng-disabled="annotation.invalid == 'true' || annotation.stative == 'true' || annotation.bounded == 'false'"
                 uib-btn-radio="'false'">No
            Change</label>
        </div>
      </div>
      <div>
        <div class="form-group" style="padding-top: 1em;">
          <input type="text"
                 class="form-control"
                 ng-focus="textFocus=true"
                 ng-blur="textFocus=false"
                 ng-model="annotation.notes"
                 placeholder="Notes">
        </div>
      </div>
      <div>
        <div class="btn-group btn-group-lg" aria-label="multiple annotations">
          <label ng-repeat="annotationButton in annotationButtons"
                 class="btn btn-info"
                 ng-model="currentAnnotation"
                 ng-change="annotationButton.onChange()"
                 uib-btn-radio="annotationButton.value">{{annotationButton.label}}</label>
        </div>
      </div>
      <a data-toggle="modal" data-target="#kbd-modal"><i class="fa fa-keyboard-o" aria-hidden="true"></i> <i>Show keyboard shortcuts</i></a>
    </form>
  </div>
  <div class="col-md-3 text-left order-md-first col-xs-6">
    <button class="btn btn-info btn-lg"
            ng-click="left()"
            ng-disabled="!hasLeft()">&laquo; Previous clause</button>
  </div>
  <div class="col-md-3 text-right col-xs-6">
    <button class="btn btn-info btn-lg"
            ng-click="right()"
            ng-disabled="!hasRight()">Next clause &raquo;</button>
  </div>
</div>
<div class="row">
  <div class="input-group">
    <input type="text"
           class="form-control"
           aria-label="Search query"
           placeholder="Search"
           ng-focus="textFocus=true"
           ng-blur="textFocus=false"
           ng-model="searchQuery"
           ng-model-options="{ debounce: 500 }">
    <div class="input-group-append">
      <button type="button"
              id="dropdown-button"
              class="btn btn-outline-info dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">Search By <span class="caret"></span>
      </button>
      <button type="button"
              id="dropdown-button"
              title="Clear"
              ng-click="clearSearch()"
              class="btn btn-outline-info"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" ng-click="searchType = 'verb'">Verb</a>
        <a class="dropdown-item" ng-click="searchType = 'text'">Text</a>
      </div>
    </div><!-- /btn-group -->
  </div><!-- /input-group -->
</div>
