
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <h1>About</h1>
    <p><a href="https://github.com/wroberts/annotator">Aspectual Annotator</a> was created by <a href="http://amor.cms.hu-berlin.de/~robertsw/">Will Roberts</a> for
      use in his doctoral work at the <a href="http://www.hu-berlin.de/">Humboldt-Universität zu Berlin</a>.</p>

    <p>This website is based on the <a href="https://github.com/sloria/cookiecutter-flask">cookiecutter-flask project<,/a> created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
  </div>
</div>
{% endblock %}
