{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_form, render_field %}
<div class="container-narrow">
  {% include "_messages.html" %}

  <h1>{{ _('Send password reset instructions') }}</h1>
  {% call render_form(forgot_password_form,
  btn_class='btn btn-primary',
  action_url=url_for_security('forgot_password'),
  action_text='Send confirmation',
  name_='forgot_password_form',
  class_='send-confirmation) %}
  {{ render_field(forgot_password_form.email) }}
  {% endcall %}

  <div class="security-menu">
    <p><em>Don't have an account?</em> Click <a href="/register">here</a> to create one.</p>
    <p><em>Already registered?</em> Click <a href="/login">here</a> to login.</p>
    <p><em>Forgot your password?</em> Click <a href="/reset">here</a> to reset it.</p>
  </div>
</div>
