
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to Aspectual Annotator</h1>

  <p>This project aims to create a corpus of German text annotated for
    <a href="https://en.wikipedia.org/wiki/Lexical_aspect">lexical aspect, or Aktionsart</a>.</p>
  <p><a href="/register" class="btn btn-primary btn-large">Create an account to get started&raquo;</a></p>
</div><!-- /.jumbotron -->
{% endblock %}
