{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_form, render_field, render_checkbox_field %}
<div class="container-narrow">
  {% include "_messages.html" %}

  <h1>{{ _('Login') }}</h1>
  {% call render_form(login_user_form,
  btn_class='btn btn-primary',
  action_url=url_for_security('login'),
  action_text='Login',
  name_='login_user_form',
  class_='login-user') %}
  {{ render_field(login_user_form.email) }}
  {{ render_field(login_user_form.password) }}
  {{ render_checkbox_field(login_user_form.remember) }}
  {% endcall %}

  <div class="security-menu">
    <p><em>Don't have an account?</em> Click <a href="/register">here</a> to create one.</p>
    <p><em>Forgot your password?</em> Click <a href="/reset">here</a> to reset it.</p>
  </div>
</div>
{% endblock %}
