{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_form, render_field %}
<div class="container-narrow">
{% include "_messages.html" %}

  <h1>{{ _('Register') }}</h1>
  {% call render_form(register_user_form,
  btn_class='btn btn-primary',
  action_url=url_for_security('register'),
  action_text='Register',
  name_='register_user_form',
  class_='register-user') %}
  {{ render_field(register_user_form.first_name) }}
  {{ render_field(register_user_form.last_name) }}
  {{ render_field(register_user_form.email) }}
  {{ render_field(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
  {{ render_field(register_user_form.password_confirm) }}
  {% endif %}
  {% endcall %}

  <div class="security-menu">
    <p><em>Already registered?</em> Click <a href="/login">here</a> to login.</p>
    <p><em>Forgot your password?</em> Click <a href="/reset">here</a> to reset it.</p>
  </div>
</div>
{% endblock %}

