{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_form, render_field %}
<div class="container-narrow">
  <h1>{{ _('Reset password') }}</h1>
  {% call render_form(reset_password_form,
  btn_class='btn btn-primary',
  action_url=url_for_security('reset_password', token=reset_password_token),
  action_text='Reset Password',
  id_='reset_password_form',
  name_='reset_password_form',
  class_='reset-password') %}
  {{ render_field(reset_password_form.password) }}
  {{ render_field(reset_password_form.password_confirm) }}
  {% endcall %}

  <div class="security-menu">
    <p><em>Don't have an account?</em> Click <a href="/register">here</a> to create one.</p>
    <p><em>Already registered?</em> Click <a href="/login">here</a> to login.</p>
  </div>
</div>
{% endblock %}
