{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_form, render_field %}
<div class="container-narrow">
  {% include "_messages.html" %}

  <h1>{{ _('Change password') }}</h1>
  {% call render_form(change_password_form,
  btn_class='btn btn-primary',
  action_url=url_for_security('change_password'),
  action_text='Change password',
  name_='change_password_form',
  class_='change-password') %}
  {{ render_field(change_password_form.password) }}
  {{ render_field(change_password_form.new_password) }}
  {{ render_field(change_password_form.new_password_confirm) }}
  {% endcall %}
  
</div>
{% endblock %}
