{% extends "layout.html" %}
{% block content %}

<div class="body-content">
  <h1>Welcome to Aspectual Annotator!</h1>

  <p>You have annotated {{ number_annotated_clauses }} of
    {{ number_total_clauses }} clauses.</p>

  {% if number_total_clauses %}
  <p>
    <a class="btn btn-lg btn-default" href="/annotations/interface/#!/1"> Go to first clause (1)</a>
    <a class="btn btn-lg btn-default" href="/annotations/interface/#!/{{ number_total_clauses }}"> Go to last clause ({{ number_total_clauses }})</a>
  </p>
  {% endif %}

  {% if first_unannotated_clause %}
  <p><a class="btn btn-lg btn-default"
        href="/annotations/interface/#!/{{ first_unannotated_clause[0] }}">
      Go to first unannotated clause ({{ first_unannotated_clause[0] }})</a></p>
  {% else %}
  <p>No unannotated clauses.</p>
  {% endif %}

  {% if last_annotated_clause %}
  <p><a class="btn btn-lg btn-default"
        href="/annotations/interface/#!/{{ last_annotated_clause[0] }}">
      Go to last annotated clause ({{ last_annotated_clause[0] }})</a></p>
  {% else %}
  <p>No annotated clauses.</p>
  {% endif %}

  <p>You have logged in {{ current_user.login_count }} time(s).  You
    last logged in on {{ current_user.last_login_at.strftime('%d %B,
    %Y at %H:%M:%S') }} from {{
    current_user.last_login_ip }}.</p>

  <!--
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Bootstrap 3</h2>
      <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
